doctype html
html
  head
    title react text
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/assets/' + main.css)
  body
    block content
    script(src='/assets/' + main.js)
